<div class="flex items-baseline gap-2">
    <p class="text-lg"><b>Ecografie: </b></p>
    <div class="grid grid-cols-3 gap-10">
        <mat-checkbox color="primary" [formControl]="isTransabdominalaControl">
            Transabdominala
        </mat-checkbox>
        <mat-checkbox color="primary" [formControl]="isTransvaginalaControl">
            Transvaginala
        </mat-checkbox>
        <mat-checkbox color="primary" [formControl]="is3DControl">
            3D
        </mat-checkbox>
    </div>
</div>

