@if(isAppLoaded | async) {
    <div class="app">
        <header>
            <mat-toolbar color="primary">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>DAfO&G</span>
              </mat-toolbar>
        </header>
        <div class="px-8">
            <ng-container [ngTemplateOutlet]="anomaliiTrimestrul2Template"></ng-container>
        </div>
    </div>
} @else {
    <ui-loading-screen [diameter]="120" color="primary"></ui-loading-screen>
    
}




<ng-template #anomaliiTrimestrul2Template>
    <h1 class="text-center text-2xl my-5">Screening ecografic pentru anomaliile de trimestrul II de sarcina</h1>
    <section>
    <div class="flex flex-col gap-5">
        <div class="flex flex-col gap-2">
            <p class="text-lg"><b>Data examinarii</b>: {{todayDate | date: 'dd/MM/YYYY'}}</p>
            <p class="text-lg"><b>Nume ecografist</b>: 
                <input [formControl]="sonographerNameControl" class="px-1 h-7 text-base focus:outline-none border-solid border rounded border-purple-400" matInput type="text">
            </p>
            <p class="text-lg"><b>Aparat de ecografie</b>: <input [formControl]="ultrasoundMachineNameControl" class="px-1 text-base h-7 focus:outline-none border-solid border rounded border-purple-400" matInput type="text"></p>
        </div>
        <div class="flex flex-col gap-2">
            <p class="text-lg"><b>Nume si prenume pacient</b>: <input [formControl]="patientFullNameControl" class="px-1 text-base h-7 focus:outline-none border-solid border rounded border-purple-400" matInput type="text"></p>
            
            <div class="flex items-baseline gap-1">
                <div>
                    <p class="text-lg"><b>Data nasterii</b>:</p>
                </div>
                
                <div class="flex items-start gap-1">
                    <input placeholder="DD/MM/YYYY" class="px-1 text-base h-7 focus:outline-none border-solid border rounded border-purple-400" matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker color="primary" #picker></mat-datepicker>
                </div>
                
            </div>
            
        </div>

        <div class="flex flex-col gap-2">
            <div class="flex items-center gap-3">
                <p class="text-lg"><b>Antecedente familiale patologice relevante pentru sarcina in curs: </b></p>
                <mat-radio-group [formControl]="antecedenteFamilialePatologiceRelevanteControl" class="flex items-center">
                    <div class="p-1">
                        <mat-radio-button value="Nesemnificative" color="primary">Nesemnificative</mat-radio-button>
                    </div>
                    <div class="p-1">
                        <div class="flex items-center gap-3">
                            <mat-radio-button value="other" color="primary"></mat-radio-button>
                            <input
                            [formControl]="antecedenteFamilialePatologiceRelevanteOtherControl"
                            class="px-1 text-base h-7 focus:outline-none border-solid border rounded border-purple-400" 
                            matInput type="text"
                            >
                        </div>
                       
                    </div>
                </mat-radio-group>
               
                
            </div>
        </div>
    </div>
       
        
    </section>
    
</ng-template>


