.example-spacer {
    flex: 1 1 auto;
  }


  .full-center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
  }