@if(isAppLoaded | async) {
    <div class="app">
        <header>
            <mat-toolbar color="primary">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>DAfO&G</span>
              </mat-toolbar>
        </header>
        <div class="px-8">
            <ng-container [ngTemplateOutlet]="anomaliiTrimestrul2Template"></ng-container>
        </div>
    </div>
} @else {
    <ui-loading-screen [diameter]="120" color="primary"></ui-loading-screen>
    
}




<ng-template #anomaliiTrimestrul2Template>
    <h1 class="text-center text-2xl my-5">Screening ecografic pentru anomaliile de trimestrul II de sarcina</h1>

    <div class="flex flex-col gap-5">
       <app-informatii-medic-pacient></app-informatii-medic-pacient>
       

       <app-antecedente-familiale-relevante-sarcina></app-antecedente-familiale-relevante-sarcina>
        <app-antecedente-personale-patologice-relevante-sarcina></app-antecedente-personale-patologice-relevante-sarcina>
        <app-gestatie-parietate></app-gestatie-parietate>
        <app-istoricul-sarcinii-curente></app-istoricul-sarcinii-curente>
        <app-ecografie></app-ecografie>
        <app-conditii-examinare></app-conditii-examinare>
        <app-numar-feti-vii></app-numar-feti-vii>
        <app-confirmarea-viabilitatii></app-confirmarea-viabilitatii>
        <app-placenta></app-placenta>
    </div>
       
    
</ng-template>


