
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/themingd
@use './styles/variables' as *;
@tailwind base;
@tailwind components;
@tailwind utilities;
// Plus imports for other components in your app.



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Scroll bar stylings */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $deep-purple-50; 
    border-radius: 50px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $deep-purple-200;
    border-radius: 50px;
  }
